

    #cardsize {
        height:100px;
        width: 100px;
        
    }
   
    
#logo {
    height:500px;
    width: 500px;
   

    
}
#cartesotto
{

margin-top: 100px;

}
#cartasooto1
{
    margin-top: 200px;
}
